<html>
    <head>
        <title>Filter Employees</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <body ng-app="empApp">
        <div ng-controller="empCtrl">
        Sort By : <select ng-model="sortColumn">
                <option value="name">Name ASC</option>
                <option value="id"> ID ASC</option>
                <option value="dob">DOB ASC</option>
                <option value="salary"> Salary</option>
            </select>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th ng-click="sortData('name')">Name</th>
                        <th ng-click="sortData('dob')">DOB</th>
                        <th ng-click="sortData('gender')"> Gender</th>
                        <th ng-click="sortData('salary')">Salary in Numbers</th>
                        <th ng-click="sortData('salary')">Salary in Currency</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees | orderBy: sortColumn : reverseSort ">
                        <td>{{employee.id }}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.dob | date : dd/mm/yyyy}}</td>
                        <td>{{employee.gender | gender}}</td>
                        <td>{{employee.salary | number}}</td>
                        <td>{{employee.salary | currency}}</td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
            
        </div>
        <script>
            var app=angular.module("empApp",[]);
            app.filter("gender",function(){

                return function(gender){
                    switch (gender){
                        case 1 : 
                            return "Male";
                        case 2 :
                            return "Female";
                        case 3 : 
                            return "Not Disclosed";
                    }
                }
            }).controller("empCtrl",function($scope){

                var employees = [{id: 1 , name : "Bob Henry", dob : new Date("02/08/1993"), salary : 25000, gender: 1},
                                 {id: 5 , name : "Paul Levesque", dob : new Date("12/10/1992"), salary : 27000, gender: 1},
                                 {id: 6 , name : "Dough McKinley", dob : new Date("02/03/1995"), salary : 23000, gender: 1},
                                 {id: 8 , name : "Ashley kucher", dob : new Date("06/08/1991"), salary : 22000, gender: 1},
                                 {id: 4 , name : "Pento Fernandez", dob : new Date("02/08/1992"), salary : 30000, gender: 1},
                                 {id: 3 , name : "Dustin Rough", dob : new Date("09/12/1990"), salary : 28000, gender: 1},
                                 {id: 2 , name : "Austin Gabril", dob : new Date("05/04/1992"), salary : 21000, gender: 1},
                                 {id: 9 , name : "Hugo Mastaf", dob : new Date("08/07/1994"), salary : 26000, gender: 3},
                                 {id: 7 , name : "Natasha Alvez", dob : new Date("02/11/1993"), salary : 24000, gender: 2},
                                  {id: 0, name : "Jason Day",dob : new Date("06/08/1999"), salary : 36000, gender: 1}]; 
                $scope.employees= employees;
                $scope.sortColumn="name";
                $scope.reverseSort=false;
                
                $scope.sortData = function(column){
                    
                    $scope.reverseSort = ($scope.sortColumn == column ? !$scope.reverseSort : false);
                    $scope.sortColumn = column;

                }
            });
        </script>
    </body>
      
</html>